<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SeproLang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sepro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F85C0E861BEDC0C300789741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85C0E941BEDC67800789741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85C0EA21BEDC67800789741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85C0EAD1BEDC67800789741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8928BF01C1CDF9D0064788C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8928BFE1C1CE3E00064788C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8928C071C1CE3E00064788C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F561801BE3117D00C53170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F5618A1BE3117D00C53170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F5619E1BE3118D00C53170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
